*.gmo
*.la
*.lo
*.o
*.so
.bzr
.deps
.libs
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/data/homebank.desktop
/data/homebank.desktop.in
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/po/.intltool-merge-cache
/po/POTFILES
/po/stamp-it
/src/.deps
/src/homebank
/stamp-h1
Makefile
Makefile.in
